*.VC.opendb
*.VC.db

vulkan-renderer/x64/
.vs

x64/

*.spv

.svn/

vulkan-renderer/TestModel/

vulkan-renderer/third-party/libs/shaderc_combined.lib

CMakeCache.txt

CMakeCache.txt

CMakeFiles/

*.cmake

vulkan_renderer

.DS_Store

*.xcbuild

build/

*.plist

vulkan_renderer.build/

*.make

vulkan_renderer.xcodeproj/
